<div>
  <style>
    /*.colorpicker-visible {
      z-index: 33000;
    }*/
.ngdialog { z-index: 100; }
    .nav-tabs-default {
      background-color: #a7a7a7;
      color: rgba(0, 0, 0, 0.87);
    }
  </style>
  <div style="background-color:#a7a7a7;height:60px;position:absolute;top:0px;left:0px;width:100%;text-align:center;color:#eee;">
    <h2 style="margin-top:13px;" ng-if="doc._id">Reservation</h2>
    <h2 style="margin-top:13px;" ng-if="!doc._id">New Reservation</h2>
  </div>
  <div class="form-group label-floating">

  </div>
  <div>
    {{doc.typeObj}}
  </div>
  <div>
    <div class="btn-group btn-group-justified btn-group-raised hidden-xs">
      <a href="javascript:void(0)" class="btn" ng-class="{'active':tabs.details.active}" ng-click="changeTab('details')">Details</a>
      <a ng-if="doc.sideEvent" href="javascript:void(0)" class="btn" ng-class="{'active':tabs.resources.active}" ng-click="changeTab('sideEvent')">Side Event</a>
      <!-- <a ng-if="doc.recurrence" href="javascript:void(0)" class="btn" ng-class="{'active':tabs.compound.active}" ng-click="changeTab('recurrence')">Recurrence</a> -->
    </div>
    <div class="btn-group btn-group-justified btn-group-raised hidden-md hidden-lg hidden-xl">
      <a href="javascript:void(0)" class="btn btn-xs btn-xs" ng-class="{'active':tabs.details.active}" ng-click="changeTab('details')">Details</a>
      <a ng-if="doc.sideEvent" href="javascript:void(0)" class="btn btn-xs" ng-class="{'active':tabs.resources.active}" ng-click="changeTab('sideEvent')">Side Event</a>
      <!-- <a href="javascript:void(0)" class="btn btn-xs" ng-class="{'active':tabs.compound.active}" ng-click="changeTab('compound')">Compound</a> -->
    </div>
  </div>

  <div class="row" ng-show="tabs.details.active">
    <div class="col-xs-12">
      <!-- dirty dirty hack jquery change removing value from first input fix-->
      <div class="form-group label-floating" ng-show="false">
        <input class="form-control" id="test" type="text" ng-model="doc.test">
      </div>
      <!-- dirty dirty hack-->
      <div class="form-group label-floating">
        <label class="control-label" for="title">Title</label>
        <input class="form-control" id="title" type="text" ng-model="doc.title">
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>
    <div class="col-xs-6">
    <div class="form-group label-floating" >
      <label class="control-label" for="startT">Start Time</label>
      <input id="startT" class="form-control" type="text" ng-model="doc.startDisp" >
    </div>
  </div>
  <div class="col-xs-6">
  <div class="form-group label-floating" >
    <label class="control-label" for="endT">End Time</label>
    <input id="endT" class="form-control" type="text" ng-model="doc.endDisp" >
  </div>
</div>
<!-- <div class="col-xs-6" ng-if="!doc.recurrence">
  <div class="form-group" style="margin-left:10px;margin-top:15px;">
    <div class="togglebutton">
      <label>
        <input ng-change="changeTab('recurrence')" type="checkbox" ng-model="doc.recurrence" ng-false-value="false" ng-false-value="true"> Add Recurrence
      </label>
    </div>
  </div>
</div> -->
    <div class="col-xs-12">
      <div class="form-group label-floating">
        <label class="control-label" for="parent">Type</label>

        <select id="parent" class="form-control" ng-model="doc.type">
          <option ng-repeat="parent in options.types track by $index" value="{{parent._id}}" ng-if="parent._id" ng-selected="parent.selected">{{parent.title}}</option>
        </select>
        <span class="material-input"></span>
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group label-floating">
     <label for="description" class="control-label">Description</label>
       <textarea class="form-control" rows="3" id="description" ng-model="doc.description"></textarea>
       <span class="help-block"></span>
    </div>

  </div>

  <div class="row" ng-show="tabs.recurrence.active">
    <div class="col-xs-12">
    <h4>Recurrence Type: Daily</h4>
  </div>
    <div class="col-xs-4">

      <div class="form-group label-floating">
        <label class="control-label" for="title">Repeat</label>
        <input type="number" class="form-control" id="title" type="text" ng-model="doc.repeat">
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>
    <div class="col-xs-4 ">
      <div class="form-group label-floating text center">
      <span>times, every </span>
    </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group label-floating">
        <label class="control-label" for="title">Day</label>
        <input type="number" class="form-control" id="title" type="text" ng-model="doc.repeatDay">
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="progress">
        <div class="progress-bar progress-bar-info" ></div>
      </div>
      <div ng-repeat="rec in recurreces">
        <div class="form-group label-floating">
        #1

        <span class="material-input"></span>
      </div>
      </div>
    </div>
  </div>

<div class='row'>
  <div class="col-xs-12">
    <div class="form-group hidden-xs">
      <div class="btn-group btn-group-justified btn-group-raised">
                        <a href="javascript:void(0)" class="btn btn-default  btn-block btn-raised" ng-click="deleteRes()" ng-if="doc._id">Delete</a>
        <a href="javascript:void(0)" class="btn btn-default   btn-block btn-raised" ng-click="closeThisDialog({value:'save'});">Save</a>
      </div>
    </div>
    <div class="form-group hidden-md hidden-lg hidden-xl">
      <div class="btn-group btn-group-justified btn-group-raised">
                <a href="javascript:void(0)" class="btn btn-default btn-xs btn-block btn-raised" ng-click="closeThisDialog({value:'delete'});" ng-if="doc._id">Delete</a>
        <a href="javascript:void(0)" class="btn btn-default btn-xs btn-block btn-raised" ng-click="closeThisDialog({value:'save'});">Save</a>
      </div>
    </div>
  </div>
</div>
    <script>
      $.material.init();
    </script>
  </div>