<div>
  <style>
    .colorpicker-visible {
      z-index: 33000;
    }

    .nav-tabs-default {
      background-color: #a7a7a7;
      color: rgba(0, 0, 0, 0.87);
    }
  </style>
  <div style="background-color:#a7a7a7;height:60px;position:absolute;top:0px;left:0px;width:100%;text-align:center;color:#eee;">
    <h2 style="margin-top:13px;">Room</h2>
  </div>
  <div class="form-group label-floating">
      <div> &nbsp;</div>
  </div>
<form name="form" novalidate>

 
    <div class="btn-group btn-group-justified btn-group-raised ">
      <a href="javascript:void(0)" class="btn btn-xs" ng-class="{'active':tabs.details.active}" ng-click="changeTab('details')">Details</a>
      <a  href="javascript:void(0)" class="btn btn-xs" ng-class="{'active':tabs.resources.active}" ng-click="changeTab('resources')">Resources</a>
    </div>
 
    <div class="row" ng-show="tabs.resources.active">

      <div class="col-xs-12" >
        <div class="form-group" style="margin-left:10px;margin-top:15px;">
          <div class="togglebutton">
            <label>
              <input type="checkbox" ng-model="doc.interpretationRemote" ng-false-value="false" ng-false-value="true"> Remote Interpretation Available
            </label>
          </div>
        </div>
      </div>

      <div class="col-xs-12" >
        <div class="form-group" style="margin-left:10px;margin-top:15px;">
          <div class="togglebutton">
            <label>
              <input type="checkbox" ng-change="onChangeInterpretationOnSite(doc.interpretationOnSite)" ng-model="doc.interpretationOnSite" ng-false-value="false" ng-false-value="true"> On-site Interpretation Available
            </label>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-xs-offset-3" ng-if="doc.interpretationOnSite">
        <div class="form-group label-floating" >
          <label class="control-label" for="interpretationBooths">Number of Booths</label>
          <input class="form-control" id="interpretationBooths" name="interpretationBooths" type="number"  ng-model="doc.interpretationBooths" min="1"  max="6">
          <p class="help-block" ng-show="!form.interpretationBooths.$valid">Must be between 1 and 6</p>
        </div>
      </div>

  </div>

  <div class="row" ng-show="tabs.details.active">
    <div class="col-xs-8">
      <!-- dirty dirty hack jquery change removing value from first input fix-->
      <div class="form-group label-floating" ng-show="false">
        <input class="form-control" id="roomTestD" type="text" ng-model="doc.test">
      </div>
      <!-- dirty dirty hack-->
      <div class="form-group label-floating">
        <label class="control-label" for="roomNameD">Name</label>
        <input class="form-control" id="roomNameD" name="roomNameD" type="text" ng-model="doc.title" required>
        <p class="help-block" ng-show="!form.roomNameD.$valid">Name is required</p>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group label-floating">
        <label class="control-label" for="roomAcronymD">Acronym</label>
        <input class="form-control" id="roomAcronymD" name="roomAcronymD" type="text" ng-model="doc.acronym" required>
        <p class="help-block" ng-show="!form.roomAcronymD.$valid">Acronym is required</p>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group label-floating">
        <label class="control-label" for="roomTypeD">Local Name</label>
        <input class="form-control" id="roomTypeD" type="text" ng-model="doc.localName">
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group label-floating">
            <label class="control-label" for="roomTypeD">Type</label>

        <select id="roomTypeD" class="form-control" ng-model="doc.type" ng-change="doc.changed=true;">
            <option></option>
            <option ng-repeat="parent in options.types track by $index" ng-style="{'background-color':parent.color}" value="{{parent._id}}" ng-if="parent._id" ng-selected="parent._id===doc.type">{{parent.title}}</option>
        </select>
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group label-floating" >
        <label class="control-label" for="roomCapacityD">Capacity</label>
        <input class="form-control" id="roomCapacityD" type="number" ng-model="doc.capacity" min="0"  >
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group label-floating">
        <label class="control-label" for="roomAtTableD">At Table</label>
        <input class="form-control" id="roomAtTableD" type="number" ng-model="doc.atTable" min="0" >
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group label-floating">
        <label class="control-label" for="roomLocationD">Location</label>
        <input class="form-control" id="roomLocationD" type="text" ng-model="doc.location" >
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group label-floating">
        <label class="control-label" for="roomOrder">Sort Order</label>
        <input class="form-control" id="roomOrder" type="number" ng-model="doc.sort" min="0" />
        <p class="help-block" ng-show="valid">error</p>
      </div>
    </div>

    <div class="col-xs-6">
        <color-picker  binding="doc.color" float-label></color-picker>
    </div>

  </div>
<div class='row'>
  <div class="col-xs-12">
    <div class="form-group hidden-xs">
      <div class="btn-group btn-group-justified btn-group-raised">
        <a href="javascript:void(0)" ng-disabled="!form.$valid" class="btn btn-default  btn-block btn-raised" ng-click="save()">Save</a>
      </div>
    </div>
    <div class="form-group hidden-md hidden-lg hidden-xl">
      <div class="btn-group btn-group-justified btn-group-raised">
        <a href="javascript:void(0)" ng-disabled="!form.$valid" class="btn btn-default btn-xs btn-block btn-raised" ng-click="save()">Save</a>
      </div>
    </div>
  </div>
</div>
</form>
    <script>
      $.material.init();
    </script>
  </div>