<div class="container">

    <form ng-submit="frameIdCtrl.save()">

        <div class="row">
            <div class="col-xs-12">
                <h1>CCTV - Frame</h1>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-3 col-xs-6">

                <div class="form-group">
                    <label for="code" required>First Day</label>
                    <select class="form-control" ng-options="day for day in frameIdCtrl.days" ng-model="frameIdCtrl.frame.schedule.startDay" ng-change="frameIdCtrl.changedStartDay()"></select>
                </div>
                <div class="form-group">
                    <label for="code" required>Start Time</label>
                    <select class="form-control" ng-options="time for time in frameIdCtrl.times" ng-model="frameIdCtrl.frame.schedule.startTime" ng-change="frameIdCtrl.changedStartTime()"></select>
                </div>

            </div>

            <div class="col-sm-3 col-xs-6">

                <div class="form-group">
                    <label for="code" required>Last Day</label>
                    <select class="form-control" ng-options="day for day in frameIdCtrl.days" ng-model="frameIdCtrl.frame.schedule.stopDay" ng-change="frameIdCtrl.changedStopDay()"></select>
                </div>

                <div class="form-group">
                    <label for="code" required>Stop Time</label>
                    <select class="form-control" ng-options="time for time in frameIdCtrl.times" ng-model="frameIdCtrl.frame.schedule.stopTime" ng-change="frameIdCtrl.changedStopTime()"></select>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">

                <div class="form-group">
                    <label for="feeds">Feeds</label>
                    <br>

                    <div ng-repeat="feed in frameIdCtrl.feeds">
                        <label>
                            <input type="checkbox" ng-model="frameIdCtrl.selectedFeeds[feed._id]" ng-change="frameIdCtrl.updateFeeds()"> {{feed.title}}
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name" required>Type</label>
                    <select class="form-control" ng-model="frameIdCtrl.frame.content.type">
                        <option value="news">News</option>
                        <option value="announcement">Announcement</option>
                        <option value="schedule">Schedule</option>
                    </select>
                </div>
            </div>
        </div>

        <div ng-if="frameIdCtrl.frame.content.type=='news'" class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="title" required>Text of the news</label>
                    <input type="text" required class="form-control" ng-model="frameIdCtrl.frame.content.title" id="title" name="title" placeholder="CRP on item 1.2...">
                </div>
            </div>
        </div>

        <div ng-if="frameIdCtrl.frame.content.type=='announcement'" class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="title" required>Title of the announcement</label>
                    <input type="text" required class="form-control" ng-model="frameIdCtrl.frame.content.title" id="title" name="title" placeholder="Official Dinner">
                </div>
                <div class="form-group">
                    <label for="html" required>Text</label>
                    <textarea rows="10" type="text" required class="form-control" ng-model="frameIdCtrl.frame.content.html" id="html" name="html" placeholder="the Official Dinner..."></textarea>
                </div>
            </div>
        </div>

        <div ng-if="frameIdCtrl.frame.content.type=='schedule'" class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="title" required>Title of the schedule</label>
                    <input type="text" required class="form-control" ng-model="frameIdCtrl.frame.content.title" id="title" name="title" placeholder="Schedule name">
                </div>
                <div class="form-group">
                    <label for="title" required>Schedule web address</label>
                    <input type="url" required class="form-control" ng-model="frameIdCtrl.frame.content.url" id="title" name="url" placeholder="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default" ng-click="frameIdCtrl.cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
