<div class="container">

    <form ng-submit="frameIdCtrl.save()">

        <div class="row">

            <div class="col-xs-12">
                <h1><select style="background:inherit;border:none" ng-model="frameIdCtrl.frame.content.type" ng-disabled="!!frameIdCtrl.frame._id">
                        <option value="announcement">Announcement</option>
                        <option value="news">News</option>
                        <option value="schedule">Schedule</option>
                    </select>
                </h1>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-3 col-xs-6">

                <div class="form-group">
                  <label for="code" required>Start</label>
                  <input type="text" class="form-control" name="code" ng-model="frameIdCtrl.start" ng-change="frameIdCtrl.dateChanged('start')"
                         date-picker="{ switchOnClick: true, time: true, date: true, format: 'YYYY-MM-DD HH:mm' }"
                         date-picker-min-date="frameIdCtrl.eventGroup.schedule.start"
                         date-picker-max-date="frameIdCtrl.eventGroup.schedule.end">
                </div>

            </div>

            <div class="col-sm-3 col-xs-6">

                <div class="form-group">
                    <label for="code" required>End</label>
                    <input type="text" class="form-control" name="code" ng-model="frameIdCtrl.end" ng-change="frameIdCtrl.dateChanged('end')"
                           date-picker="{ switchOnClick: true, time: true, date: true, format: 'YYYY-MM-DD HH:mm' }"
                           date-picker-min-date="frameIdCtrl.eventGroup.schedule.start"
                           date-picker-max-date="frameIdCtrl.eventGroup.schedule.end">
                </div>

            </div>

            <div class="col-sm-3 col-xs-6">

                <div class="form-group">
                    <label for="name" required>Schedule Type</label>
                    <select class="form-control" ng-model="frameIdCtrl.frame.scheduleType" ng-change="frameIdCtrl.dateChanged()">
                        <option value="continuous">Continuous</option>
                        <option value="daily">Daily</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div  ng-if="frameIdCtrl.frame.scheduleType=='daily'">
                    <div class="form-group">
                        <label for="name">Daily schedule</label>
                    </div>

                    <em>Every day</em>
                    <br>
                    Between
                    {{frameIdCtrl.frame.schedules[0].start | moment:'format':'HH:mm'}} -
                    {{frameIdCtrl.frame.schedules[0].end   | moment:'format':'HH:mm'}} on

                    <ul class="list-inline">
                        <li ng-repeat="s in frameIdCtrl.frame.schedules">
                            {{s.start | moment:'format':'MMM Do'}}
                        </li>
                    </ul>
                </div>

                <div  ng-if="frameIdCtrl.frame.scheduleType=='continuous'">
                    <div class="form-group">
                        <label for="name">Continuous schedule</label>
                    </div>
                    <em>Non stop</em>
                    <br>
                    From  {{frameIdCtrl.frame.schedules[0].start | moment:'format':'MMM Do'}}
                    at    {{frameIdCtrl.frame.schedules[0].start | moment:'format':'HH:mm'}}
                    <br>
                    Until {{frameIdCtrl.frame.schedules[0].end | moment:'format':'MMM Do'}}
                    at    {{frameIdCtrl.frame.schedules[0].end | moment:'format':'HH:mm'}}

                </div>

            </div>

            <div class="col-sm-12 col-xs-6">

                <div class="form-group">
                    <label for="feeds">Feeds</label>
                    <br>

                    <div ng-repeat="feed in frameIdCtrl.feeds">
                        <label style="color:inherit">
                            <input type="checkbox" ng-model="frameIdCtrl.selectedFeeds[feed._id]" ng-change="frameIdCtrl.updateFeeds()"> 
                                {{feed.title}}
                                <i ng-if="feed.code == frameIdCtrl.eventGroup.conference.streamId">(default)</i>
                        </label>
                    </div>
                </div>

            </div>
        </div>

        <div id="frameTypeContainer" class="row"></div>

        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default" ng-click="frameIdCtrl.cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
