<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1>Frames<h1>
        </div>

        <form class="form">

            <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                    <div class="form-group">
                      <label for="code" required>Day</label>
                      <input type="text" class="form-control" name="code" ng-model="framesCtrl.selectedDay" ng-change="framesCtrl.refresh()"
                             date-picker="{ switchOnClick: true, time: false, date: true, format: 'YYYY-MM-DD', clearButton: true }"
                             date-picker-min-date="framesCtrl.eventGroup.schedule.start"
                             date-picker-max-date="framesCtrl.eventGroup.schedule.end">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                    <label for="feeds" required>Feed</label>
                    <select class="form-control" ng-options="feed._id as feed.title for feed in framesCtrl.feeds" ng-model="framesCtrl.selectedFeed" ng-change="framesCtrl.refresh()">
                        <option value="">All feeds</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="col-xs-12">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Type / description</th>
                    <th>Schedule</th>
                    <th>Feeds</th>
                    <th>
                        <button class="btn btn-default btn-sm" ng-click="framesCtrl.edit('new')"><i class="fa fa-plus"></i></button>
                    </th>
                </tr>
                <tr ng-repeat="frame in framesCtrl.frames|orderBy:framesCtrl.buildSortKey">
                    <td>{{::$index+1}}</td>
                    <td>
                        <b ng-switch="frame.content.type">
                            <span ng-switch-when="news">News</span>
                            <span ng-switch-when="announcement">Announcement</span>
                            <span ng-switch-when="schedule">Schedule</span>
                            <span ng-switch-default="schedule">{{::frame.content.type}}</span>
                        </b>
                        <div ng-show="frame.content.title">{{::frame.content.title|limitTo:50}}</div>
                        <div ng-show="frame.content.url"><a target="_blank" href="{{::frame.content.url}}">{{::frame.content.url}}</a></div>
                    </td>
                    <td ng-init="::singleDay=frame.schedules.length==1 && (frame.schedules[0].start|moment:'format':'YYYY-MM-DD') == (frame.schedules[0].end|moment:'format':'YYYY-MM-DD')">

                        <div ng-if="singleDay">
                            {{::frame.schedules[0].start | moment:'format':'MMM Do'}}
                            <br>
                            between {{::frame.schedules[0].start | moment:'format':'HH:mm'}} -
                            {{::frame.schedules[0].end   | moment:'format':'HH:mm'}}
                        </div>

                        <div ng-if="!singleDay" ng-switch="frame.scheduleType">
                            <span ng-switch-when="continuous">
                                <em>Non stop</em>
                                <br>
                                from {{::frame.schedules[0].start | moment:'format':'MMM Do'}} at
                                     {{::frame.schedules[0].start | moment:'format':'HH:mm'}}
                                <br>
                                to   {{::frame.schedules[0].end   | moment:'format':'MMM Do'}} at
                                     {{::frame.schedules[0].end   | moment:'format':'HH:mm'}}
                            </span>
                            <span ng-switch-default>
                                <em>Every day</em>
                                <br>
                                from {{::frame.schedules[0].start              | moment:'format':'MMM Do'}}
                                to   {{::(frame.schedules|limitTo:1:-1)[0].end | moment:'format':'MMM Do'}}
                                <br>
                                between {{::frame.schedules[0].start | moment:'format':'HH:mm'}} -
                                {{::frame.schedules[0].end   | moment:'format':'HH:mm'}}
                            </span>
                        </div>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-show="frame.feeds.length==0">All feeds</li>
                            <li ng-repeat="feedId in frame.feeds">{{::framesCtrl.feedsMap[feedId].title}}</li>
                        </ul>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-sm" ng-click="framesCtrl.edit  (frame._id)"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-default btn-sm" ng-click="framesCtrl.delete(frame._id)"><i class="fa fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">{{framesCtrl.frames.length}} frames.</td>
                </tr>
            </table>
        </div>
    </div>
</div>
