<div class="container">

    <form ng-submit="frameIdCtrl.save()">

        <div class="row">

            <div class="col-sm-3 col-xs-6">

                <div class="form-group">
                  <label for="code" required>First Day</label>
                  <input type="text" class="form-control" name="code" ng-model="frameIdCtrl.startDay" ng-change="frameIdCtrl.changedStartDay()"
                         date-picker="{ switchOnClick: true, time: false, date: true, format: 'YYYY-MM-DD' }"
                         date-picker-min-date="frameIdCtrl.eventGroup.StartDate"
                         date-picker-max-date="frameIdCtrl.eventGroup.EndDate">
                </div>
                <div class="form-group">
                    <label for="code" required>Start Time</label>
                    <input type="text" class="form-control" name="code" ng-model="frameIdCtrl.startTime" ng-change="frameIdCtrl.changedStartTime()"
                           date-picker="{ switchOnClick: true, time: true, date: false, format: 'HH:mm' }" >
                </div>

            </div>

            <div class="col-sm-3 col-xs-6">

                <div class="form-group">
                    <label for="code" required>Last Day</label>
                    <input type="text" class="form-control" name="code" ng-model="frameIdCtrl.endDay" ng-change="frameIdCtrl.changedEndDay()"
                           date-picker="{ switchOnClick: true, time: false, date: true, format: 'YYYY-MM-DD' }"
                           date-picker-min-date="frameIdCtrl.eventGroup.StartDate"
                           date-picker-max-date="frameIdCtrl.eventGroup.EndDate">
                </div>

                <div class="form-group">
                    <label for="code" required>Stop Time</label>
                    <input type="text" class="form-control" name="code"  ng-model="frameIdCtrl.endTime" ng-change="frameIdCtrl.changedEndTime()"
                           date-picker="{ switchOnClick: true, time: true, date: false, format: 'HH:mm' }" >
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">

                <div class="form-group">
                    <label for="feeds">Feeds</label>
                    <br>

                    <div ng-repeat="feed in frameIdCtrl.feeds">
                        <label style="color:inherit">
                            <input type="checkbox" ng-model="frameIdCtrl.selectedFeeds[feed._id]" ng-change="frameIdCtrl.updateFeeds()"> {{feed.title}}
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name" required>Type</label>
                    <select class="form-control" ng-model="frameIdCtrl.frame.content.type" ng-disabled="!!frameIdCtrl.frame._id">
                        <option value="news">News</option>
                        <option value="announcement">Announcement</option>
                        <option value="schedule">Schedule</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="frameTypeContainer" class="row"></div>

        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default" ng-click="frameIdCtrl.cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
