lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.vimrc
*.DS_STORE
package-lock.json
pids
logs
results
yarn-error.log
yarn-lock.log
.yarn*
npm-debug.log
node_modules
app/libs
app_build

.sass-cache
.bower-storage
bower_components
docs/.vuepress
.vscode