@import url(loading-bar.css);
@import url(util.css);
/*hack*/
.panel{border-radius: 4px;}
.grabbible{
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.wrapper {
  display:inline-table;
}

.view-header{
height:40px;
line-height: 25px;
}