<div class="col-xs-12">
    <div class="form-group">
        <label for="level" required>Level</label>
        <select id="msgType" class="form-control" ng-model="content.level">
            <option value="">Plain</options>
            <option value="warning">Warning</options>
            <option value="alert">Alert</options>
        </select>
    </div>
    <div class="form-group">
        <label for="title" required>Text of the news</label>
        <input type="text" required class="form-control text-{{content.level}}" ng-model="content.title" id="title" name="title" placeholder="CRP on item 1.2...">
    </div>
</div>
