<div class="row">
  <style>
    .pointer {
      cursor: pointer;
    }
  </style>
  <div class="col-xs-10 col-xs-offset-1 ">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th width="50%">Title</th>
          <th width="25%">Color</th>
          <th width="25%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="child in type.children | orderBy:'title' track by $index">
          <td>
            <div class="form-group label-floating" style="margin-top:10px;">
              <label class="control-label hidden-md hidden-lg hidden-xl" for="roomNameD" >Title</label>
              <input class="form-control" id="title" type="text" ng-model="child.title" ng-change="child.changed=true;">
              <p class="help-block" ng-show="valid">error</p>
            </div>
          </td>
          <td>
            <color-picker class="hidden-md hidden-lg hidden-xl" binding="child.color" float-label></color-picker>
            <color-picker class="hidden-xs hidden-sm" binding="child.color"></color-picker>
          </td>
          <td class="text-nowrap">
            <span class="hidden-xs hidden-sm btn-group-vertical text-nowrap">
              <a ng-if="child.changed" ng-click="save(child);" style="width:60px;" tool-tip href="javascript:void(0)" class="btn btn-raised btn-xs" data-placement="top" title="" data-original-title="Save"><i class="fa fa-save  fa-2x" aria-hidden="true"></i></a>
              <a ng-click="typeDialog(child)" style="width:60px;" tool-tip href="javascript:void(0)" class="btn btn-raised btn-xs" data-placement="bottom" title="" data-original-title="edit"><i class="fa fa-edit  fa-2x" aria-hidden="true"></i></a>
              <a ng-click="deleteDial(child,type);" style="width:60px;" tool-tip href="javascript:void(0)" class="btn btn-raised btn-xs" data-placement="bottom" title="" data-original-title="Delete"><i class="fa fa-trash  fa-2x" aria-hidden="true"></i></a>
            </span>
            <div class="btn-group-xs btn-group-vertical btn-group-raised hidden-md hidden-lg hidden-xl text-nowrap" style="vertical-align:middle;text-align:center;">
              <a ng-if="child.changed" ng-click="save(child);" href="javascript:void(0)" class="btn btn-raised btn-xs"><i class="fa fa-save  fa-2x" aria-hidden="true"></i></a>
              <a ng-click="typeDialog(child)" href="javascript:void(0)" class="btn btn-raised btn-xs"><i class="fa fa-edit  fa-2x" aria-hidden="true"></i></a>
              <a ng-click="deleteDial(child,type);" href="javascript:void(0)" class="btn btn-raised btn-xs"><i class="fa fa-trash  fa-2x" aria-hidden="true"></i></a>
            </div>
          </td>
        </tr>
    </table>
  </div>
</div>