<div>
  <style>
    .conference-schedule .control-header {
      min-height: 45px;

      width: 100%;
      background-color: #bbb;
      color: #fff;
    }

    .conference-schedule .control-header .form-group select {
      color: #fff;
    }
    /*.form-group{
        margin-top:0px;
    }*/
    .row-stripped {
      background-color: #f9f9f9;
    }
    .scroll-grid {
      display: block;
      height: 100%;
      white-space: nowrap;
      overflow: none;
    }
    .outer {
      float: left;
      display: block;
      min-height: 95%;
      width: 90%;
      overflow-x: none;
      overflow-y: none;
    }

    .room-row-base {
      min-height:40px;
      /*padding: 5px 5px 5px 5px;*/
      cursor:pointer;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #bbb;
      border-right-style: solid;
      border-right-width: 1px;
      border-right-color: #bbbbbb;
    }
    .room-row-base:hover {
      background-color: #fff;
    }
    .room-col-base {
      position: relative;
      height: auto;
      min-height: 90%;
      display: block;
      float: left;
      width: 10%;
    }
    .room-column-header {
      min-height:40px;
      background-color: #d7d7d7;
      border-right-style: solid;
      border-right-width: 1px;
      border-right-color: #bbbbbb;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #bbb;
    }
    .row-stripped {
      background-color: #f9f9f9;
    }
  </style>
  <div class="conference-schedule" style="height:94%;">
    <!-- this container is just for viewport height.  Children float so it does not grow as they do -->
    <div class="control-header">
      <div class="row">
        <div class="col-xs-1">
          <div class="form-group" style="margin-top:0px;">
            <select id="conference-select" class="form-control" ng-model="conferenceId" ng-change="changeConference()">
              <option ng-repeat="docObj in conferences" value="{{docObj._id}}" ng-if="docObj._id" ng-selected="docObj.selected" style="color:#000;">
                <span style="color:#000;">{{docObj.acronym}}</span>
              </option>
            </select>
            <span class="material-input"></span>
          </div>
        </div>

        <div class="col-xs-6 col-xs-offset-2">
          <div class="col-xs-1">
            <button ng-disabled="isPrevDay" ng-click="prevDay()" style="margin-top:5px;" tool-tip type="button" class="btn btn-fab btn-fab-mini"  data-placement="top" title="" data-original-title="Prev Day">
              <i class="fa fa-arrow-left"></i>
            </button>
          </div>
          <div class="col-xs-5  ">
            <div class="form-group" style="margin-top:0px;">
              <input id="#day-filter" type="text" class="form-control" ng-model="day" style="color:#eee;" ng-change="changeDay('day-filter')"
                     date-picker="{ switchOnClick: true, time: false, date: true, format: 'dddd YYYY-MM-DD', clearButton: false,weekStart: 0 }"
                     date-picker-min-date="conference.startObj"
                     date-picker-max-date="conference.endObj">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group" style="margin-top:0px;">
              <input type="text" class="form-control"  ng-model="startTime" style="color:#eee;" ng-change="changeStartTime('start-time-filter')"
                     date-picker="{ switchOnClick: true, time: true, date: false, format: 'HH:mm', clearButton: false}"
                     date-picker-max-date="endTimeObj.format()">
            </div>
          </div>
          <div class="col-xs-1">
            <div>&nbsp;</div>
            <div>to</div>
          </div>
          <div class="col-xs-2">
            <div class="form-group" style="margin-top:0px;">
              <input type="text" class="form-control"  ng-model="endTime" style="color:#eee;" ng-change="changeEndTime('end-time-filter')"
                     date-picker="{ switchOnClick: true, time: true, date: false, format: 'HH:mm', clearButton: false}" >

            </div>
          </div>
          <div class="col-xs-1">
            <button ng-disabled="isNextDay" ng-click="nextDay()" style="margin-top:5px;"   tool-tip type="button" class="btn btn-fab btn-fab-mini"  data-placement="top" title="" data-original-title="Next Day">
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
    <div >
      <div id="room-col" class="room-col-base">
        <div class="room-column-header text-center" style="height:40px;">Rooms</div>
        <room-row ng-repeat="room in rooms | orderBy:'sort'" room="room" ng-class="{'row-stripped':($index%2)}"></room-row>
      </div>
        <div id="scroll-grid" class="outer">
          <div class="scroll-grid">
        <time-unit-row-header start-time="startTimeObj" end-time="endTimeObj" day="dayObj" conference-days="conferenceDays"></time-unit-row-header>
        <time-unit-row start-time="startTimeObj" rooms="rooms" day="dayObj" end-time="endTimeObj" conference-days="conferenceDays" ng-repeat="room in roomsList = (rooms | orderBy: 'sort')" room="room" ng-class="{'row-stripped':($index%2)}"></time-unit-row>
      </div>
    </div>
    </div>
  </div>
</div>