<div id="res-el-{{doc._id}}-outer" ng-class="{'unconfirmed':(!doc.confirmed)}" ng-style="{'width':doc.resWidth+'px'}" style="cursor:pointer;position:absolute;height:100%;background-color:#a7a7a7;z-index:10;overflow:hidden;" ng-show="!doc.hide">
  <style>
    .grid-slot-row {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    .grid-slot-row-inline {
      display: inline;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .grid-slot-dir {
      height: 100%;
      /*overflow: hidden;
      text-overflow: ellipsis;*/
      background-color: #ddd;
      padding: 2px 4px 2px 4px;
      border:none;
      margin:0 0 0 0;
      overflow:hidden;
      z-index: 20;
      border-left: solid #ccc 1px;
    }
    .red-agenda{
      color:red;
    }
    .search-found {
      background-color: rgba(0, 155, 72, .3);
    }

  </style>

  <div id="res-el-{{doc._id}}" ng-class="{'search-found':doc.searchFound}" class="grid-slot-dir text-left" ng-style="{'background-color': color}" data-toggle="popover" data-placement="top" >
    <span class="pull-right">
      <span  ng-if="hasVideo()" ng-class="{'red-agenda':doc.video}" style="text-shadow: 1px 1px #888;"><i class="fa fa-television  small" style="cursor:pointer;"  aria-hidden="true" ng-click="popVid();$event.stopPropagation();"></i></span>
      <i class="fa fa-headphones" ng-if="interactioEvent.languages.length"></i>
      <img  ng-style="{ opacity: doc.linksTemplate ? 1 : 0.25 }"  ng-if="doc.interactioEventId" src="/app/images/interactio.svg" style="max-width: 14px;"/>
      <i class="fa fa-repeat" aria-hidden="true" ng-if="doc.seriesId"></i>
    </span>

    <div  ng-if="!doc.sideEvent" ng-style="{'width':doc.resWidth+'px'}" style="font-weight:500;display:block;white-space:normal;" ><span ng-if="doc.title" style="word-break:break-all">{{doc.title}}</span></div>
    <span  ng-if="doc.sideEvent" style="font-weight:500;" >#{{doc.sideEvent.id}} </span>
    <span ng-if="doc.sideEvent"  ng-class="{'grid-slot-row-inline':oneLine,'grid-slot-row':!oneLine}">{{doc.sideEvent.title}} </span>
    <span ng-if="doc.sideEvent"  ng-class="{'grid-slot-row-inline':oneTwo,'grid-slot-row':!oneTwo}" ng-if="threeLine">
      <span style="display:inline;" ng-repeat="org in doc.sideEvent.orgs track by $index" ng-if="org">
        <i ng-if="org._id.length===2"   class="flag-icon flag-icon-{{org._id}}" style="width:20px;height:13.5px;margin-bottom:5px;"></i>
        <img  ng-if="org._id.length>2" ng-src="{{org.logo}}" class="img-circle" alt="Cinque Terre" width="15" height="15"> {{org.acronym || org.name.en}}
        <span ng-if="!$last">|</span>
      </span>
    </span>
    <div id="pop-title" style="display: none;">

      <div >
        <span ng-if="doc.sideEvent">#{{doc.sideEvent.id}}</span>
        <span ng-if="doc.sideEvent">{{doc.sideEvent.title}}</span>
        <span ng-if="!doc.sideEvent">{{doc.typeObj.title}}<span ng-if="doc.title">: {{doc.title}}</span></span>
      </div>
      <br>
      <div ng-if="doc.sideEvent">
        <span ng-repeat="org in doc.sideEvent.orgs track by $index" ng-if="org">
          <i ng-if="org._id.length===2"   class="flag-icon flag-icon-{{org._id}}" style="width:20px;height:13.5px;margin-bottom:5px;"></i>
{{org.acronym || org.name.en}}
          <span ng-if="!$last">|</span>
        </span>
      </div>
      <div class="text-center">
        <span ng-if="!doc.confirmed" class="text-center small" style="color:pink;">Unconfirmed<br></span>
        <span ng-if="doc.open" class="text-center small" style="color:blue;">Open<br></span>
        <span ng-if="!doc.open" class="text-center small" style="color:red;">Closed<br></span>
        <span ng-if="doc.security" class="text-center small" style="color:red;">Security<br></span>
      </div>
      <div ng-if="doc.interactioEventId" style="margin-top:5px">

          <img class="pull-right" src="/app/images/interactio.svg" style="max-width: 20px;"/> 
          {{interactioEvent.title}} <br>
          Calendar access type: 
          <span ng-if="!doc.linksTemplate" class="label label-danger">not on calendar</span>
          <span ng-if=" doc.linksTemplate" class="label">{{doc.linksTemplate}}</span><br>
          <span ng-if="interactioEvent.languages.length">
            <i class="fa fa-headphones"></i>
            <span>{{interactioEvent.languages.join(', ')}}</span>
          </span>

      </div>
    </div>
    <span  class="small" style="position:absolute;bottom:1px;right:20px; font-weight: 600"><span ng-if="value" ng-repeat="(meeting, value) in doc.agenda.meetings track by $index">{{meeting}} </span> </span>
    <span  ng-class="{'red-agenda':doc.agenda.provisional}" style="position:absolute;bottom:1px;right:5px;"><i class="fa fa-list-ol  small" style="cursor:pointer;"  aria-hidden="true" ng-if="hasAgenda(doc)" ng-click="popRes();$event.stopPropagation();"></i></span>
  </div>

</div>