<div ng-style="{'width':doc.resWidth+'px'}" style="position:absolute;height:100%;overflow:hidden;background-color:#a7a7a7;z-index:10;">
  <style>
    .grid-slot-row {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .grid-slot-row-inline {
      display: inline;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .grid-slot-dir {
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: #ddd;
      padding: 2px 4px 2px 4px;
      margin: 0 0 0 0;
    }

    .search-found {
      background-color: rgba(0, 155, 72, .3);
    }
  </style>

  <div id="res-el" ng-class="{'search-found':doc.searchFound}" class="grid-slot-dir text-left" style="border:none;background-color:{{doc.typeObj.color}};" data-toggle="popover" data-placement="top" style="margin:0 0 0 0;">
    <span  style="font-weight:500;" ng-class="{'grid-slot-row-inline':oneLine,'grid-slot-row':!oneLine}">{{doc.resWidth}}--{{doc.title}}</span>
    <span ng-class="{'grid-slot-row-inline':oneLine,'grid-slot-row':!oneLine}">{{doc.sideEvent.title}}</span>
    <span ng-if="doc.sideEvent"  ng-class="{'grid-slot-row-inline':oneTwo,'grid-slot-row':!oneTwo}" ng-if="threeLine">
      <span style="display:inline;" ng-repeat="org in doc.sideEvent.orgs">
        <img src="{{org.logo}}" class="img-circle" alt="Cinque Terre" width="15" height="15"> {{org.acronym}}
        <span ng-if="($index)<=doc.sideEvent.orgs.length-2">|</span>
      </span>
    </span>
    <div id="pop-title" style="display: none;">
      <div >
        <span ng-if="doc.sideEvent">#{{doc.sideEvent.id}}</span>
      </div>
      <br>
      <div>
        <span ng-if="doc.sideEvent">{{doc.sideEvent.title}}</span>
        <span ng-if="!doc.sideEvent">{{doc.title}}</span>
      </div>
      <br>
      <div ng-if="doc.sideEvent">
        <span ng-repeat="org in doc.sideEvent.orgs">
          <img src="{{org.logo}}" class="img-circle" alt="Cinque Terre" width="15" height="15"> {{org.acronym}}
          <span ng-if="($index)<=doc.sideEvent.orgs.length-2">|</span>
        </span>
      </div>
    </div>
  </div>
</div>