.room-col-base {
  position: relative;
  height: auto;
  min-height: 90%;
  display: block;
  float: left;
  width: 10%;
}
.room-column-header {
  min-height:40px;
  background-color: #d7d7d7;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #bbbbbb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #bbb;
}
.row-stripped {
  background-color: #f9f9f9;
}