<div class="row-base" >
  <style>
    .row-base {
      min-height: 40px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #bbb;
    }

    .interval-hour {

      display: inline-block;
      overflow:visible;
      position:relative;
    }

    .col-stripped {
      background-color: #f9f9f9;
    }

    .col-stripped-alt {
      background-color: #eeeeee;
    }

    .sub-interval {
      display: inline-block;
      position:relative;
      width:25%;
      height:100%;
    }

    .sub-interval:hover {
      background-color: #fff;

    }

    .sub-interval-background {
      display: inline-block;
      z-index: -5;
      border-style: solid;
      border-width: 1px;
      border-color: #000;
    }

    .reservation{
      cursor:pointer;
      position:absolute;
      height:100%;
      background-color:#a7a7a7;
      z-index:10;
      overflow:hidden;
    }
  </style>
  <div id="interval-{{$index}}" ng-style="{ height: (room.rowHeight-1)+'px', width: (colWidth)+'px'}" class="interval-hour relative" ng-repeat="timeColumn in timeIntervals" ng-class="{'col-stripped':($index%2),'col-stripped-alt':!($index%2)}" style="overflow:visible;">

    <div class="sub-interval" ng-style="{ height: (room.rowHeight-2)+'px'}"  ng-repeat="sub in timeColumn.subIntervals"  ng-click="resDialog(sub.res,sub.time,'details');$event.stopPropagation();" >
      <grid-reservation  interactio-events-map="interactioEventsMap" ng-if="sub.res._id" rooms="rooms" doc="sub.res" start="sub.time" pop-res="resDialog(sub.res,sub.time,'agenda')" pop-vid="resDialog(sub.res,sub.time,'options')"></grid-reservation>
    </div>
  </div>
</div>