.row-base {
    min-height:40px;
  /*width:10000px;*/
  border-bottom-style: solid;
    border-bottom-width: 1px;
      border-bottom-color: #bbb;
}
/*.row-base:hover {
  background-color: #fff;
}*/
.interval-hour{
  display:inline-block;

}
.interval-hour:hover {
  background-color: #fff;
}
.col-stripped {
  background-color: #f9f9f9;
}
.col-stripped-alt {
  background-color: #eeeeee;
}

.sub-interval{
    display:inline-block;
}
