<div ng-controller="conference" class="container-fluid view">
  <div class="row  view-header text-center" style="position:relative;">
    <div class="view-title pull-left"><i class="fa fa-bars" aria-hidden="true" ng-click="toggle('mainMenu')"></i> Conference Schedule
    </div>
    <div class="form-group pull-left" style="position:absolute;left:270px;top:-2px;margin-top:0px;width:85px;">
      <input id="day-filter" class="form-control" type="text" ng-model="day" ng-change="changeDate('day-filter')" style="color:#eee;">
    </div>
    <div class="relative" style="margin-left:auto;margin-right:auto;width:230px;height:40px;">

      <div class="form-group" style="position:absolute;left:1px;top:-2px;margin-top:0px;width:85px;">
        <input id="start-time-filter" class="form-control" type="text" ng-model="startTime" ng-change="changeStartTime('start-time-filter')" style="color:#eee;">
      </div>
      <span style="position:absolute;right:48%;top:25%;font-size:16px;">to</span>
      <div class="form-group" style="position:absolute;right:1px;top:-2px;margin-top:0px;width:85px;">
        <input id="end-time-filter" class="form-control" type="text" ng-model="endTime" ng-change="changeEndTime('end-time-filter')" style="color:#eee;">
      </div>
    </div>
    <div style="position:absolute;top:-30px;right:1px;width:210px;">
      <div class="relative">
        <div class="form-group label-floating">
          <div class="input-group">
            <label class="control-label" for="search">Search Reservations</label>
            <input type="text" id="search" class="form-control" ng-model="search">
            <span class="input-group-btn small">
              <button type="button" class="btn btn-fab btn-fab-mini" ng-click="search='';">
                <i class="fa fa-search" ng-if="!search"></i> <i class="fa fa-times" ng-if="search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
<conference-schedule day="day" start-time="startTimeObj" end-time="endTimeObj" search="search"></conference-schedule>
</div>