<div ng-controller="organizations">
  <div class="view-header text-center"><span class="pull-left">Schedule Day View</span>
  <span>< 22.03.2016 ></span>
  <span >          <div class="input-group input-group-sm search-bs pull-right" style="width:200px;">
              <input type="test" class="form-control " ng-model="search" >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search='';"><i class="fa fa-search" ng-if="!search"></i><i class="fa fa-times" ng-if="search"></i></button>
              </span>
            </div></span>
  </div>

  <img src="app/images/gr.png" style="height:700px;"></img>
</div>