<!DOCTYPE html>
<html lang="en" ng-controller="TemplateController">

<head>
  <base href="<%=baseUrl%>">
  <title>Eunomia - Meeting Room Scheduling</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="app/images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="ltr" id="top">
  <!-- used by authentication service as work around for cross domain storage of token -->
  <!-- <iframe ng-if="!ACCOUNTS_URL" id="authenticationFrame" src="https://accounts.cbd.int/app/authorize.html" style="display:none"></iframe> -->
  <iframe id="authenticationFrame" style="display:none"></iframe>
  <script>
    var domain = document.location.hostname.replace(/[^\.]+\./, '');
    if (domain == 'localhost') domain = 'cbddev.xyz';
    document.getElementById('authenticationFrame').src = 'https://accounts.' + domain + '/app/authorize.html';
  </script>

  <div class="view">
    <scbd-header>  </scbd-header>
    <div class="relative" style="height:100%;">

      <portal-nav ></portal-nav>
      <div id="main" style="height:100%;">
        <ng-view> </ng-view>
      </div>
    </div>
  </div>


  <script src="app/libs/requirejs/require.js" data-main="app/boot.js"></script>

</body>

</html>