<!DOCTYPE html>
<html lang="en" ng-controller="TemplateController as templateCtrl">

  <head>
    <base href="<%=baseUrl%>">
    <title>Eunomia - Meeting Room Scheduling</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="app/images/favicon.ico">
    <style>[ng\:cloak], [ng-cloak], .ng-cloak {display: none !important; }</style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="app/libs/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="app/libs/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="app/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="app/libs/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="app/libs/angular-toastr/dist/angular-toastr.min.css" rel="stylesheet">
    <link href="app/libs/ng-dialog/css/ngDialog.css" rel="stylesheet">
    <link href="app/libs/ng-dialog/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="app/libs/flag-icon-css/css/flag-icon.css" rel="stylesheet">
    <link href="app/css/main.css" rel="stylesheet">

  </head>

  <body class="ltr" id="top">

    <nav class="navbar navbar-default" style="margin-bottom:0px">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand pull-right visible-xs" style="font-size:16px">
            <select style="color:inherit;background-color:inherit;border:none;max-width:200px" ng-model="templateCtrl.selectEventGroupId" ng-options="o._id as o.Title.en for o in templateCtrl.eventGroups"  ng-change="templateCtrl.eventGroupChange(true)">
            </select>
          </a>

          <a class="navbar-brand" href="/">Eunomia</a>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{ active : templateCtrl.menu=='schedule' }"   ><a href="/schedule/conference">Schedule</a></li>
            <li ng-class="{ active : templateCtrl.menu=='reservations' }"  ><a href="/schedule/reservations">Reservations</a></li>
            <li ng-class="{ active : templateCtrl.menu=='side-events' }" ng-if="templateCtrl.isAdmin()" ><a href="/schedule/side-events">Side-Events</a></li>
            <li ng-class="{ active : templateCtrl.menu=='cctv-frames' }" ng-if="templateCtrl.isAdmin()" ><a href="/cctv/frames">CCTV</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs">
                <a>
                  <select style="color:inherit;background-color:inherit;border:none" ng-model="templateCtrl.selectEventGroupId" ng-options="o._id as o.Title.en for o in templateCtrl.eventGroups"  ng-change="templateCtrl.eventGroupChange(true)">
                  </select>
                </a>
            </li>
            <li class="dropdown" ng-class="{ active : templateCtrl.menu=='admin' }" ng-if="templateCtrl.isAdmin()" >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/cctv/feeds">CCTV Feeds</a></li>
                <li><a href="/admin/rooms">Rooms</a></li>
                <li><a href="/admin/types/reservations">Reservation types</a></li>
                <li><a href="/admin/types/venue-rooms">Room Types</a></li>
                <!-- <li><a href="/admin/venues">Venues</a></li> -->
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="view">
          <ng-view></ng-view>
    </div>

    <script src="app/libs/requirejs/require.js" data-main="app/boot.js"></script>
  </body>
</html>
