<div>
<style>
 .agenda-item-row{
   width:100%;
 }
 .parent {
    display:table;
 }
 .child {
    display:table-cell;
     float: none;
      white-space: nowrap;
 }
 .child-center {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
   float: none;
   white-space: nowrap;
 }
 .child-left {
    display:table-cell;
    text-align:left;
   float: none;
   white-space: nowrap;
 }
 .child-right {
    display:table-cell;
    text-align:right;
   float: none;
   white-space: nowrap;
 }
 .debug {
    border-style: solid;
    border-width: 1px;
    color:red;
}

.label.doc-status             { display: inline-block; width:40px;padding-top:4px; padding-bottom:3px; }
.label.doc-status.pre-session { border: dotted 1px #777;    color: #777;   background: none}
.label.doc-status.draft { border: solid 1px #777;    color: #777;    background: none}
.label.doc-status.l     { width:25px;border: solid 1px #5bc0de; color: #5bc0de; background: none}
.label.doc-status.crp   { border: solid 1px #f0ad4e; color: #f0ad4e; background: none}
</style>
  <div class="panel panel-default">
    <div class="panel-heading">
<div name="form" class="row">
  <form novalidate>
  <div class="col-xs-6">
    <div class="form-group" style="margin-left:10px;margin-top:15px;">
      <div class="togglebutton">
        <label>
          <input type="checkbox" ng-model="binding.provisional" ng-false-value="false" ng-false-value="true"><span >Provisional</span>
        </label>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group" style="margin-left:10px;margin-top:15px;">
      <div class="togglebutton">
        <label>
          <input type="checkbox" ng-model="binding.visible" ng-false-value="false" ng-false-value="true"><span >Visible on CCTV</span>
        </label>
      </div>
    </div>
  </div>
  <div class="col-xs-4" ng-repeat="meeting in conference.meetings track by $index">
    <div class="form-group " style="margin-top:10px;" >
      <!-- <label class="control-label" for="meeting{{meeting._id}}">{{meeting.EVT_CD}}</label> -->

      <select name="meeting{{meeting._id}}" id="meeting{{meeting._id}}" class="form-control" ng-model="selectedItem" ng-options="item as item.display for item in meeting.agenda.items" ng-change="itemSelected(meeting,selectedItem); selectedItem=undefined;" >
        <!-- <option ng-repeat="item in meeting.agenda.items track by $index" value="{{item.item}}" ng-selected="item.item===selectedItem">{{item.display}}</option> -->
<option value=''>{{meeting.EVT_CD}}</option>
       </select>
      <span class="material-input"></span>
      <p class="help-block" ng-show="valid">error</p>
    </div>
  </div>
</form>

</div>
    </div>
  <div class="panel-body">
    <section dragula='"agenda-items"' dragula-model="binding.items">
          <div class="row" ng-repeat="item in binding.items track by $index">
              <div class="col-xs-2"><span class="label vercenter" ng-class="{'label-success':getPrefix(item)==='CBD','label-primary':getPrefix(item)==='NP','label-warning':getPrefix(item)==='CP' }" title="{{getTitle(item)}}">{{getPrefix(item)}} {{item.item}}</span></div>
              <div class="col-xs-6"><input class="form-control" type="text" placeholder="{{getTitle(item)}}" ng-model="item.text"></div>
              <div class="col-xs-2">
                  <select class="form-control" ng-model="item.status">
                      <option value=""></option>
                      <option value="pre-session">Pre</option>
                      <option value="draft">Draft</option>
                      <option value="crp">CRP</option>
                      <option value="l">L</option>
                  </select>
              </div>
              <div class="col-xs-1" style="padding-left:10px;">
                  <a href="javascript:void(0)" class="btn btn-raised btn-xs" ng-click="delete(item)" ><i class="fa fa-trash"></i></a>
              </div>
          </div>

    </section>
  </div>
  <!-- <div class="panel-footer">Panel Footer</div> -->
</div>
</div>
