<div class="se-dragable-wrapper grabbible" res-id="{{res._id}}" style="max-width:245px;">
  <div class="panel panel-default se-panel">
    <div class="panel-heading relative">
      <h2 class="panel-title text-center">{{res.title}} </h2>
      <div id="orgs"  style="max-height:16px;line-height:16px;overflow:hidden" data-toggle="popover" data-placement="top">
      <span ng-repeat="org in res.sideEvent.orgs">
        <img src="{{org.logo}}" class="img-circle" alt="Cinque Terre" width="15" height="15"> {{org.acronym}} | </span>
      </div>

      <div id="pop-orgs" style="display: none;">
      <span  ng-repeat="org in res.sideEvent.orgs" class="text-nowrap">
        <img src="{{org.logo}}" class="img-circle" alt="Cinque Terre" width="15" height="15"> {{org.acronym}} <br> </span>
      </div>
      <div class="num-orgs"  style="position:absolute;top:3px;right:3px;z-index:100;"  data-toggle="popover" data-placement="top" >
        <span  style="font-size:10px;"><img src="app/images/ic_business_black_48px.svg" class="img-circle"  width="15" height="15"> {{res.sideEvent.orgs.length}}</span>
      </div>
      <div style="position:absolute;top:3px;left:3px;"  data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." ng-click="test($event);">
        <span  style="font-size:10px;"><i class="fa fa-users"></i> {{res.sideEvent.expNumPart}}</span>
      </div>
    </div>
    <div class="panel-body relative" style="overflow:none; padding: 5px 3px 5px 3px;">
      <div style="position:absolute;bottom:3px;right:47%;cursor:pointer;" ng-click="res.sideEvent.show=!res.sideEvent.show;"><i class="fa fa-times" ng-show="res.sideEvent.show"></i><i class="fa fa-arrows-v" ng-show="!res.sideEvent.show"></i></div>
      <table class="table table-striped table-hover" style="margin-left:6px;overflow:none;width:95%;">

        <tbody>
          <tr>
            <td>1st:</td>
            <td>{{res.sideEvent.prefDate.one}}
            </td>
            <td>
              {{res.sideEvent.prefDateTime.one}}
            </td>
          </tr>
          <tr ng-show="res.sideEvent.show">
            <td>2nd:</td>
            <td>{{res.sideEvent.prefDate.two}}</td>
            <td>{{res.sideEvent.prefDateTime.two}}</td>
          </tr>
          <tr ng-show="res.sideEvent.show">
            <td>3rd:</td>
            <td>{{res.sideEvent.prefDate.three}}</td>
            <td>{{res.sideEvent.prefDateTime.three}}</td>
          </tr>
          <tr ng-show="res.sideEvent.show">
            <td>Req.:</td>
            <td colspan="2">
              <p ng-show="res.sideEvent.requirements.overhead">Overhead</p>
              <p ng-show="res.sideEvent.requirements.pc">PC</p>
              <p ng-show="res.sideEvent.requirements.overhead">Sound</p>
              <p ng-show="res.sideEvent.requirements.lcd">LCD</p>
              <p ng-show="res.sideEvent.requirements.interpretation">Interpretation</p>
              <p ng-show="res.sideEvent.requirements.catering">Catering</p>
              <p ng-show="res.sideEvent.requirements.other">{{res.sideEvent.requirements.other}}</p>
            </td>
          </tr>
          <tr class="active" ng-show="res.sideEvent.show" style="overflow:none;">

            <td colspan="3"><i class="fa fa-user"></i> {{res.sideEvent.contact.firstName}} {{res.sideEvent.contact.lastName}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="drag-view text-center text-nowrap" style="height:16px;width:100%;display:none;">
    <span  class="drag-view text-center text-nowrap"><i class="fa fa-calendar-o"></i> {{res.title}}</span>
  </div>
</div>
