<div class="container-fluid">

    <style>
        .ui-select-multiple.ui-select-bootstrap .ui-select-match-item
        {
            border: 1px solid #eee;
            background-color: #eee;
        }

    </style>
    <div class="" style="padding:20px">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ui-select@0.19.6/dist/select.min.css">    
        <div class="panel panel-default">
            <div class="panel-body">
                
                <div class="row" ng-if="!reservationsCtrl.isSignedIn">
                    <a class="btn btn-default pull-right" href="{{reservationsCtrl.accountsUrl}}/signin?returnUrl={{reservationsCtrl.returnUrl}}">Sign In</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Filters</div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group ">
                                    <label class="control-label" for="parent">Start Date</label>
                                    <input id="start-filter" type="text" class="form-control"
                                        ng-model="reservationsCtrl.startFilter">

                                </div>
                            </div>
                            <div class="col-xs-4  ">
                                <div class="form-group ">
                                    <label class="control-label" for="parent">End Date</label>
                                    <input id="end-filter" type="text" class="form-control"
                                        ng-model="reservationsCtrl.endFilter">
                                </div>
                            </div>
                            <div class="col-xs-4  ">
                                <div class="form-group ">
                                    <div class="input-group">
                                        <label class="control-label " for="search-res">Hybrid / Streamed only</label>
                                        <input type="checkbox" id="search-res" class="form-control" style="height: 20px;"
                                            ng-model="reservationsCtrl.isHybridOnly" ng-change="reservationsCtrl.hybridOnlyChange()">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-xs-6  ">
                                <ui-select style="border: 1px solid #eee;" multiple ng-model="reservationsCtrl.searchType" close-on-select="true"
                                    append-to-body="true" ng-change="reservationsCtrl.searchTypeChange()">
                                    <ui-select-match placeholder="Type Search">
                                        <div style="display:inline;background-color:{{$item.color}}">{{$item.title}}
                                        </div>
                                    </ui-select-match>
                                    <ui-select-choices style="width:100%;" position="down"
                                        repeat="type._id as type in reservationsCtrl.conference.types.reservation | propsFilter: {title: $select.search}">
                                        <div style="background-color:{{type.color}}">
                                            <hr style="margin: 0 0 0 0;">
                                            <small>
                                                <span class="text-nowrap">
                                                    <span
                                                        style="padding:0px 0px 0px 1px; vertical-align:middle;">{{type.title}}
                                                    </span>
                                                </span>
                                            </small>
                                        </div>

                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-xs-6  ">
                                <ui-select style="border: 1px solid #eee;" multiple ng-model="reservationsCtrl.searchRoom" close-on-select="true"
                                    ng-change="reservationsCtrl.searchRoomChange()">
                                    <ui-select-match placeholder="Room Search">
                                        <div style="display:inline;background-color:{{$item.color}}">({{$item.location}}) - </span>{{$item.title}}
                                        </div>
                                    </ui-select-match>
                                    <ui-select-choices minimum-input-length="3" style="width:100%;" position="down"
                                        repeat="room._id as room in reservationsCtrl.conference.rooms | propsFilter: {title: $select.search}">
                                        <div style="background-color:{{room.color}}">
                                            <hr style="margin: 0 0 0 0;">
                                            <small>
                                                <span class="text-nowrap">
                                                    <span
                                                        style="padding:0px 0px 0px 1px; vertical-align:middle;">
                                                        <span ng-if="room.location">({{room.location}}) - </span>{{room.title}}
                                                    </span>
                                                </span>
                                            </small>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Reservations
                        <div class="pull-right" style="position: relative;top: -15px;">
                            <input type="checkbox" id="auto-refresh" 
                                ng-model="reservationsCtrl.autoRefresh" ng-change="reservationsCtrl.setAutoRefresh()">
                            <label class="control-label " style="font-size: 16px;font-weight: bolder;color: black;top: 25px;" for="auto-refresh">Auto refresh (5 min)</label>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="row ">
                           
                            <div class="container " style="width:100%;">
                                <div class="row" ng-show="reservationsCtrl.count">

                                    <div class="col-lg-3 col-md-3 col-xs-12 text-no-wrap"
                                        style="color:#333;font-size:14px;padding-left:10px;">
                                        <div class="text-no-wrap" style="margin-top:25px;">
                                            <span>
                                                <span
                                                    class="badge">{{((reservationsCtrl.currentPage*reservationsCtrl.itemsPerPage)+1)}}</span>
                                                <span
                                                    ng-if="((reservationsCtrl.currentPage+1)*(reservationsCtrl.docs.length))===((reservationsCtrl.currentPage+1)*(reservationsCtrl.itemsPerPage)) && (reservationsCtrl.docs.length===reservationsCtrl.itemsPerPage)">
                                                    - <span
                                                        class="badge">{{(reservationsCtrl.currentPage+1)*(reservationsCtrl.docs.length)}}
                                                    </span></span>
                                                <!-- <span ng-if=" !((reservationsCtrl.currentPage+1)*(reservationsCtrl.docs.length))">  -  <span class="badge" ><i class="fa fa-spinner fa-spin"></i></span></span> -->
                                                <span
                                                    ng-if="((reservationsCtrl.currentPage+1)*(reservationsCtrl.docs.length))!==((reservationsCtrl.currentPage+1)*(reservationsCtrl.itemsPerPage)) && (reservationsCtrl.docs.length===reservationsCtrl.itemsPerPage)">
                                                    - <span class="badge">{{reservationsCtrl.docs.length}}
                                                    </span></span>
                                                <span
                                                    ng-if="reservationsCtrl.docs.length!==reservationsCtrl.itemsPerPage">
                                                    - <span class="badge">{{reservationsCtrl.count}} </span></span>
                                                of
                                                <span class="badge">{{reservationsCtrl.count}} </span> records
                                                <span ng-if="reservationsCtrl.search"> for <span
                                                        style="color:#009B48;">"{{reservationsCtrl.search}}"</span></span>
                                            </span>

                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-xs-10">
                                        <nav class="pull-right" ng-show="reservationsCtrl.pages.length>1">
                                            <ul class="pagination">
                                                <li>
                                                    <a ng-click="reservationsCtrl.onPage(reservationsCtrl.currentPage-1)"
                                                        href="#" aria-label="Previous" ng-disabled="reservationsCtrl.currentPage==0"
                                                        ng-if="reservationsCtrl.currentPage!==0">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                    <span aria-disabled="true"  style="color: #7c7c7c;" disabled  ng-if="reservationsCtrl.currentPage==0">&laquo;</span>
                                                </li>
                                                <li ng-repeat="page in reservationsCtrl.pages track by $index" ng-if="page.text > 0"
                                                    ng-class="{ active : reservationsCtrl.currentPage===page.index }">
                                                    <a href="#"
                                                        ng-click="reservationsCtrl.onPage(page.index)">{{page.text}}</a>
                                                </li>
                                                <li>
                                                    <a ng-click="reservationsCtrl.onPage(reservationsCtrl.currentPage+1)"
                                                        href="#" aria-label="Next"
                                                        ng-if="(reservationsCtrl.currentPage<reservationsCtrl.pageCount)"
                                                        >
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                    <span aria-disabled="true" style="color: #7c7c7c;" disabled  ng-if="(reservationsCtrl.currentPage>=reservationsCtrl.pageCount)">&raquo;</span>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-xs-3 text-nowrap">
                                        <div class="form-group form-inline"
                                            style="color:#333;font-size:14px;margin-top:20px;">
                                            <span style="color:#333;font-size:14px;">Records per page:</span>
                                            <select style="display:inline;" class="form-control"
                                                ng-model="reservationsCtrl.itemsPerPage"
                                                ng-change="reservationsCtrl.onPage()" convert-to-number>
                                                <option ng-value="5" ng-selected="reservationsCtrl.itemsPerPage===5">5
                                                </option>
                                                <option ng-value="10" ng-selected="reservationsCtrl.itemsPerPage===10">
                                                    10</option>
                                                <option ng-value="15" ng-selected="reservationsCtrl.itemsPerPage===15">
                                                    15</option>
                                                <option ng-value="20" ng-selected="reservationsCtrl.itemsPerPage===20">
                                                    20</option>
                                                <option ng-value="50" ng-selected="reservationsCtrl.itemsPerPage===50">
                                                    50</option>
                                                <option ng-value="100"
                                                    ng-selected="reservationsCtrl.itemsPerPage===100">100</option>
                                                <option ng-value="500"
                                                    ng-selected="reservationsCtrl.itemsPerPage===500">500</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 ">                               
                                <div class="table-responsive">
                                   
                                    <table class="table table-striped table-hover container" id="table-rows">
                                        <tbody>
                                           
                                            <tr ng-if="reservationsCtrl.loading">
                                                <td colspan="11" class="text-center">
                                                    <div class="app-loading" ng-animate-children>                                                       
                                                        <style type="text/css">
                                                            /*div.app-loading {
                                             position: fixed ;
                                         }*/
                                                            div.app-loading div.animated-container {
                                                                background-color: #FFFFFF;
                                                                bottom: 0px;
                                                                left: 0px;
                                                                opacity: 1.0;
                                                                position: absolute;
                                                                right: 0px;
                                                                top: 115px;
                                                                z-index: 99999999999999;
                                                            }

                                                            /* Used to initialize the ng-leave animation state. */
                                                            div.app-loading div.animated-container.ng-leave {
                                                                opacity: 1.0;
                                                                transition: all linear 200ms;
                                                                -webkit-transition: all linear 200ms;
                                                            }

                                                            /* Used to set the end properties of the ng-leave animation state. */
                                                            div.app-loading div.animated-container.ng-leave-active {
                                                                opacity: 0;
                                                            }

                                                            div.app-loading div.messaging {
                                                                color: #1FA65D;
                                                                font-family: monospace;
                                                                left: 0px;
                                                                margin-top: -37px;
                                                                position: absolute;
                                                                right: 0px;
                                                                text-align: center;
                                                                top: 30%;
                                                            }

                                                            div.app-loading h1 {
                                                                font-size: 26px;
                                                                line-height: 35px;
                                                                margin: 0px 0px 20px 0px;
                                                            }

                                                            div.app-loading p {
                                                                font-size: 18px;
                                                                line-height: 14px;
                                                                margin: 0px 0px 0px 0px;
                                                            }
                                                        </style>
                                                        <div class="animated-container">
                                                            <div class="messaging">
                                                                <h1>
                                                                    <br>
                                                                    <span class="color-black">Loading Eunomia </span>
                                                                    <br> <br>
                                                                    <i class="fa fa-spin fa-3x fa-circle-o-notch"></i>
                                                                </h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="6%">Date</td>
                                                <td>Start Time</td>
                                                <td>End Time</td>
                                                <td>Room / Location / Capacity</td>
                                                <td>Title</td>
                                                <td>Description</td>
                                                <td>Type</td>
                                                <td>Links</td>
                                            </tr>

                                            <tr ng-repeat-start="doc in reservationsCtrl.docs  track by $index" class="info"
                                                ng-if="$first || reservationsCtrl.hasDayChange(doc.start,reservationsCtrl.docs[$index-1].start) && !$last">
                                                <td colspan="9">
                                                    <div hl-sticky="content-heading" offset-top="60"
                                                        collection="content" collection-parent="head">
                                                        <div >
                                                            <h4>{{reservationsCtrl.docs[$index+1].start |moment:'format':'MMMM Do YYYY (dddd)'}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr id="{{doc._id}}" ng-class="{'active': item.$selected, 'danger':!doc.confirmed, 'warning':!reservationsCtrl.isToday(doc.start) }">                                                
                                                <td>
                                                    {{doc.start |moment:'format':'DD MMM YYYY'}}
                                                    <span class="label label-warning"" ng-if="!doc.confirmed">
                                                        Unconfirmed
                                                    </span>                                                
                                                </td>
                                                <td>
                                                    {{doc.start|moment:'format':'HH:mm'}}
                                                </td>
                                                <td>
                                                    {{doc.end|moment:'format':'HH:mm'}}
                                                </td>
                                                <td>
                                                    <span ng-if="doc.location.room">
                                                        ({{reservationsCtrl.getRoom(doc.location.room,'location')}}) - {{reservationsCtrl.getRoom(doc.location.room,'title')}}                                                        
                                                    </span>
                                                </td>
                                                <td>
                                                    <span ng-if="doc.sideEvent.id">#{{doc.sideEvent.id}}</span>
                                                    {{doc.title}}<br>
                                                    <small class="" ng-class="{ 
                                                        'label' :        reservationsCtrl.minutesSince(doc.meta.modifiedOn) < 12.0 * 60,
                                                        'label-danger' : reservationsCtrl.minutesSince(doc.meta.modifiedOn) < 1.5  * 60
                                                    }"
                                                    >{{doc.meta.modifiedOn|moment:'fromNow'}}</small>
                                                </td>
                                                <td>
                                                    <div style="max-height: 100px;overflow: scroll;white-space: pre-wrap;"">{{doc.description | htmlToPlaintext}}</div>
                                                </td>

                                                <td>
                                                    <div class="form-group label-floating"
                                                        style="margin-top:10px;background-color: {{reservationsCtrl.getType(doc.type,'reservation','color')}};">
                                                        {{reservationsCtrl.getType(doc.type,'reservation','title')}}
                                                    </div>
                                                </td>
                                                
                                                <td>
                                                    <i ng-if="doc.isUnWebTV"  class="text-info fa fa-tv " aria-hidden="true"></i>
                                                    <i ng-if="doc.isYoutube" class="fa fa-youtube-play text-danger" aria-hidden="true"></i>
                                                    <img ng-if="doc.isInteractio" src="/app/images/interactio.svg" style="max-width: 14px"/>
    
                                                    <a href="#" ng-if="reservationsCtrl.canShowLinks(doc)" class="text-nowrap" ng-click="reservationsCtrl.showLinks(doc)">
                                                        Show links
                                                    </a>    
                                                </td>
                                            </tr>
                                            <tr ng-if="doc.showLinks && doc.isInteractio" class="success">
                                                
                                                <td colspan="9">
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">Interactio Links</div>
                                                        <div class="panel-body">
                                                            <div class="" style="border: 1px solid green;padding: 10px;">
                                                                <strong> Interactio Event Id : 
                                                                    <a target="interactio" ng-href="https://cbd.interactio.com/access/event/{{doc.interactioEventId}}">
                                                                        {{doc.interactioEventId}} 
                                                                        <i class="fa fa-external-link"></i>
                                                                    </a>
                                                                </strong>

                                                                <a target="interactioPanel" ng-href="https://cbd.interactio.com/panel/event/{{doc.interactioEventId}}">
                                                                    Panel
                                                                    <i class="fa fa-external-link"></i>
                                                                </a>
                                                            </div>
                                                            <table class="table table-stripped" ng-if="doc.interactioEvent">
                                                                <thead>
                                                                    <th>Title <em style="font-weight: normal">{{doc.interactioEvent.title}}</em></th>
                                                                    <th>Code</th>
                                                                    <th>URL</th>
                                                                </thead>
                                                                <tr ng-if="doc.interactioEvent.listenerCode">
                                                                    <td>Listener App</td>
                                                                    <td>{{doc.interactioEvent.listenerCode}}</td>                                                            
                                                                    <td>
                                                                        <a href="{{'https://cbd.interactio.com/listen/search?eventCode='+doc.interactioEvent.listenerCode}}" target="_blank">Listener App</a>
                                                                        /
                                                                        <a href="{{'/app/views/interactio/listener.html?title='+encodeURIComponent(doc.title)+'&type='+encodeURIComponent(reservationsCtrl.getType(doc.type,'reservation','title'))+'&code='+encodeURIComponent(doc.interactioEvent.listenerCode)+'&sideEventId='+encodeURIComponent(doc.sideEvent.id||'')}}" target="_blank">
                                                                            <i class="fa fa-qrcode fa-2x"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-repeat="link in doc.interactioEvent.preSharedLinks">
                                                                    <td>{{link.title}}</td>
                                                                    <td>{{link.code}}</td>                                                            
                                                                    <td>
                                                                        <a href="{{link.url}}" target="_blank">{{link.url}}</a>
                                                                        <span class="label label-success" ng-if="link.isPublic">Public</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-if="doc.showLinks && doc.isUnWebTV" class="info">
                                                
                                                <td colspan="8">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">UN WebTV</div>
                                                        <div class="panel-body">
                                                            <table class="table table-stripped">
                                                                <thead>
                                                                    <th>Language</th>
                                                                    <th>Url</th>
                                                                </thead>
                                                                <tr ng-repeat="link in doc.links">
                                                                    <td>{{link.locale.toUpperCase() || 'All'}}</td>
                                                                    <td>
                                                                        <a class="text-nowrap" href="{{link.url}}" target="_blank">{{link.url}} <i class="fa fa-external-link" aria-hidden="true"></i></a><br>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end  ng-if="doc.showLinks && doc.isYoutube" class="danger">
                                                
                                                <td colspan="8">
                                                    <div class="panel panel-warning">
                                                        <div class="panel-heading">Youtube Links</div>
                                                        <div class="panel-body">
                                                            <table class="table table-stripped">
                                                                <thead>
                                                                    <th>Language</th>
                                                                    <th>Title</th>
                                                                    <th>Url</th>
                                                                    <th ng-if="reservationsCtrl.canAccessKeys">Ingestion</th>                                                            
                                                                </thead>
                                                                <tr ng-repeat="link in doc.links">
                                                                    <td>{{link.locale.toUpperCase()}}</td>
                                                                    <td>{{link.name}}</td>
                                                                    <td>
                                                                        <a class="text-nowrap" href="{{link.url}}" target="_blank">{{link.url}} <i class="fa fa-external-link" aria-hidden="true"></i></a><br>
                                                                        <a class="text-nowrap" ng-if="link.broadcast.id" href="https://studio.youtube.com/video/{{link.broadcast.id}}/livestreaming" target="_blank">Youtube Studio <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                                                    </td>
                                                                    <td ng-if="reservationsCtrl.canAccessKeys">
                                                                        <span ng-if="doc.loadingKeys">
                                                                            <i class="fa fa-spin fa-spinner"></i> loading keys...
                                                                        </span>
                                                                        <span ng-if="!doc.loadingKeys && link.stream">
                                                                            <a class="text-nowrap pb-1" ng-click="reservationsCtrl.copyToClipboard(link.stream.cdn.ingestionInfo.streamName)" href="#">
                                                                                {{link.stream.cdn.ingestionInfo.streamName}}
                                                                                <i class="fa fa-clone" style="cursor:pointer"></i>
                                                                            </a><br>
                                                                            <a  class="text-nowrap pb-1" ng-click="reservationsCtrl.copyToClipboard(link.stream.cdn.ingestionInfo.ingestionAddress)" href="#">
                                                                                {{link.stream.cdn.ingestionInfo.ingestionAddress}}
                                                                                <i class="fa fa-clone" style="cursor:pointer"></i>
                                                                            </a><br>
                                                                            <a  class="text-nowrap pb-1" ng-click="reservationsCtrl.copyToClipboard(link.stream.cdn.ingestionInfo.backupIngestionAddress)" href="#">
                                                                                {{link.stream.cdn.ingestionInfo.backupIngestionAddress}}
                                                                                <i class="fa fa-clone" style="cursor:pointer"></i>
                                                                            </a>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table ng-if="reservationsCtrl.docs.length===0">
                                        <tr>
                                            <td colspan="11">
                                                &nbsp; There are 0 reservations for this conference.
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="container " style="width:100%;">
                                <div class="row" ng-show="reservationsCtrl.count">

                                    <div class="col-lg-3 col-md-3 col-xs-12 text-no-wrap"
                                        style="color:#333;font-size:14px;padding-left:10px;">
                                        <div class="text-no-wrap" style="margin-top:25px;">
                                            <span>
                                                <span
                                                    class="badge">{{((reservationsCtrl.currentPage*reservationsCtrl.itemsPerPage)+1)}}</span>
                                                <span
                                                    ng-if="((reservationsCtrl.currentPage+1)*(reservationsCtrl.docs.length))===((reservationsCtrl.currentPage+1)*(reservationsCtrl.itemsPerPage)) && (reservationsCtrl.docs.length===reservationsCtrl.itemsPerPage)">
                                                    - <span
                                                        class="badge">{{(reservationsCtrl.currentPage+1)*(reservationsCtrl.docs.length)}}
                                                    </span></span>
                                                <!-- <span ng-if=" !((reservationsCtrl.currentPage+1)*(reservationsCtrl.docs.length))">  -  <span class="badge" ><i class="fa fa-spinner fa-spin"></i></span></span> -->
                                                <span
                                                    ng-if="((reservationsCtrl.currentPage+1)*(reservationsCtrl.docs.length))!==((reservationsCtrl.currentPage+1)*(reservationsCtrl.itemsPerPage)) && (reservationsCtrl.docs.length===reservationsCtrl.itemsPerPage)">
                                                    - <span class="badge">{{reservationsCtrl.docs.length}}
                                                    </span></span>
                                                <span
                                                    ng-if="reservationsCtrl.docs.length!==reservationsCtrl.itemsPerPage">
                                                    - <span class="badge">{{reservationsCtrl.count}} </span></span>
                                                of
                                                <span class="badge">{{reservationsCtrl.count}} </span> records
                                                <span ng-if="reservationsCtrl.search"> for <span
                                                        style="color:#009B48;">"{{reservationsCtrl.search}}"</span></span>
                                            </span>

                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-xs-10">
                                        <nav class="pull-right" ng-show="reservationsCtrl.pages.length>1">
                                            <ul class="pagination">
                                                <li>
                                                    <a ng-click="reservationsCtrl.onPage(reservationsCtrl.currentPage-1)"
                                                        href="#" aria-label="Previous" ng-disabled="reservationsCtrl.currentPage==0"
                                                        ng-if="reservationsCtrl.currentPage!==0">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                    <span aria-disabled="true"  style="color: #7c7c7c;" disabled  ng-if="reservationsCtrl.currentPage==0">&laquo;</span>
                                                </li>
                                                <li ng-repeat="page in reservationsCtrl.pages track by $index" ng-if="page.text > 0"
                                                    ng-class="{ active : reservationsCtrl.currentPage===page.index }">
                                                    <a href="#"
                                                        ng-click="reservationsCtrl.onPage(page.index)">{{page.text}}</a>
                                                </li>
                                                <li>
                                                    <a ng-click="reservationsCtrl.onPage(reservationsCtrl.currentPage+1)"
                                                        href="#" aria-label="Next"
                                                        ng-if="(reservationsCtrl.currentPage<reservationsCtrl.pageCount)"
                                                        >
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                    <span aria-disabled="true" style="color: #7c7c7c;" disabled  ng-if="(reservationsCtrl.currentPage>=reservationsCtrl.pageCount)">&raquo;</span>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-xs-3 text-nowrap">
                                        <div class="form-group form-inline"
                                            style="color:#333;font-size:14px;margin-top:20px;">
                                            <span style="color:#333;font-size:14px;">Records per page:</span>
                                            <select style="display:inline;" class="form-control"
                                                ng-model="reservationsCtrl.itemsPerPage"
                                                ng-change="reservationsCtrl.onPage()" convert-to-number>
                                                <option ng-value="5" ng-selected="reservationsCtrl.itemsPerPage===5">5
                                                </option>
                                                <option ng-value="10" ng-selected="reservationsCtrl.itemsPerPage===10">
                                                    10</option>
                                                <option ng-value="15" ng-selected="reservationsCtrl.itemsPerPage===15">
                                                    15</option>
                                                <option ng-value="20" ng-selected="reservationsCtrl.itemsPerPage===20">
                                                    20</option>
                                                <option ng-value="50" ng-selected="reservationsCtrl.itemsPerPage===50">
                                                    50</option>
                                                <option ng-value="100"
                                                    ng-selected="reservationsCtrl.itemsPerPage===100">100</option>
                                                <option ng-value="500"
                                                    ng-selected="reservationsCtrl.itemsPerPage===500">500</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <script>
    $.material.init();
</script> -->
</div>