<div class="row-base">
  <style>
    .row-base {
      min-height: 40px;
      /*width:10000px;*/
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #bbb;
    }

    .interval-hour {
      display: inline-block;
    }

    .col-stripped {
      background-color: #f9f9f9;
    }

    .col-stripped-alt {
      background-color: #eeeeee;
    }

    .sub-interval {
      display: inline-block;
    }

    .sub-interval:hover {
      background-color: #fff;
    }

    .sub-interval-background {
      display: inline-block;
      z-index: -5;
      border-style: solid;
      border-width: 1px;
      border-color: #000;
    }
  </style>
  <div id="interval-{{$index}}" class="interval-hour relative" ng-repeat="timeColumn in timeIntervals" ng-class="{'col-stripped':($index%2),'col-stripped-alt':!($index%2)}" style="overflow:visible;height:100%;width:{{colWidth}}px;">
    <div class="sub-interval" ng-repeat="sub in timeColumn.subIntervals" ng-click="resDialog(sub.res,sub.time);" style="position:relative;height:100%;width:25%;">
      <grid-reservation ng-if="sub.res._id" rooms="rooms" doc="sub.res"></grid-reservation>
    </div>
  </div>
</div>