<div id="row-{{$index}}" class="row-base">
  <div  id="interval-{{$index}}" class="wrapper" ng-repeat="cell in timeIntervals" ng-class="{'col-stripped':($index%2),'col-stripped-alt':!($index%2)}" style="overflow:hidden;height:98%;width:{{colWidth}}px;">
    <div id="{{cell.id}}" interval-index="{{$index}}" room="{{cell.room._id}}" date="{{cell.dayTier |  momentTZ:conference.timezone:'format'}}"  dragula='"se-bag"' dragula-model='cell.bag' style="overflow:hidden;min-width:{{colWidth-1}}px;max-width:{{colWidth}}px;min-height:100%;">
        <se-grid-reservation ng-repeat="res in cell.bag  track by $index"  row-min-height="cellHeight" rooms="rooms" res-id="{{res._id}}" doc="res"></se-grid-reservation>
        <div ng-if="!cell.bag.length || cell.drag"  style="margin: 0 auto;width:{{colWidth}}px;max-width:{{colWidth}}px;max-height:1px;min-height:1px;">&nbsp;</div>
    </div>
  </div>
</div>