<div ng-class="{'col-xs-9':isOpen,'col-xs-12':!isOpen}" style="padding-left:0px;padding-right:0px;">

  <style>
    .conference-schedule .control-header {
      min-height: 45px;

      width: 100%;
      background-color: #bbb;
      color: #fff;
    }

    .conference-schedule .control-header .form-group select {
      color: #fff;
    }
    /*.form-group{
        margin-top:0px;
    }*/
    .row-stripped {
      background-color: #f9f9f9;
    }
    .scroll-grid {
      display: block;
      height: 100%;
      white-space: nowrap;
      overflow: none;
    }
    .outer {
      float: left;
      display: block;
      min-height: 95%;
      width: 90%;
      overflow-x: none;
      overflow-y: none;
    }

    .room-row-base {
      min-height:40px;
      /*padding: 5px 5px 5px 5px;*/
      cursor: -webkit-grab;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #bbb;
      border-right-style: solid;
      border-right-width: 1px;
      border-right-color: #bbbbbb;
    }
    .room-row-base:hover {
      background-color: #fff;
    }
    .room-col-base {
      position: relative;
      height: auto;
      min-height: 90%;
      display: block;
      float: left;
      width: 10%;
    }
    .room-column-header {
      min-height:40px;
      background-color: #d7d7d7;
      border-right-style: solid;
      border-right-width: 1px;
      border-right-color: #bbbbbb;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #bbb;
    }
    .row-stripped {
      background-color: #f9f9f9;
    }
    .row-base {
        min-height: 40px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #bbb;
    }


    .col-stripped {
        background-color: #f9f9f9;
    }

    .col-stripped-alt {
        background-color: #eeeeee;
    }

    .sub-interval {
        display: inline-block;
    }


    .grid-slot-row {

        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .grid-slot-row-inline {

        display: inline;
        overflow: none;
        text-overflow: ellipsis;
    }

    .grid-slot-dir {

        width: 100%;
        height: 100%;
        overflow: none;
        text-overflow: ellipsis;
        background-color: #ddd;
        margin: 0 0 0 0;
    }
    .label-danger-light {
      background-color: rgba(217, 83, 79, .08);
      border-style: inset;
      border-width: .5px;
      border-color: rgba(217, 83, 79, 1);
      height: 20px;
    }

    .label-success-light {
      background-color: rgba(76, 175, 80, .08);
      border-style: inset;
      border-width: .5px;
      border-color: rgb(76, 175, 80);
      height: 20px;
    }
    .search-found {
        background-color: rgba(0, 155, 72, .3);
    }
  </style>
  <div class="conference-schedule" >
    <!-- this container is just for viewport height.  Children float so it does not grow as they do -->

    <div >

      <div id="room-col" class="room-col-base" >
        <div class="room-column-header text-center" style="height:40px;line-height:40px;"><span class="pull-left" ng-show="!isOpen" ng-click="isOpen=!isOpen;"><i class="fa fa-arrow-circle-right" ></i></span> Rooms </div>
        <section dragula='"all-rooms-bag"' dragula-model="rooms">
            <se-room-row ng-repeat="room in rooms | orderBy:'sort'" index="$index" room="room" ng-class="{'row-stripped':($index%2)}"></se-room-row>
        </section>
      </div>

        <div id="scroll-grid" class="outer">
          <div class="scroll-grid">
<!-- time heard row -->
<div hl-sticky="">
        <tier-row-header conference="conference" is-open="isOpen" conference-days="conferenceDays"></tier-row-header>
</div>
<!-- room rows start -->

        <se-time-unit-row   is-open="isOpen" conference="conference" room="rooms[$index]" rooms="rooms"  conference-days="conferenceDays" ng-repeat="room in roomsList = (rooms | orderBy: 'sort')"  ng-class="{'row-stripped':($index%2)}"></se-time-unit-row>

<!-- room rows end -->
      </div>
    </div>
    </div>
  </div>
</div>