<div class="header-row-base" ng-style="{'width':outerRowWidth}" style="overflow:hidden;">
  <style>
    .header-row-base {
      min-height: 39px;
      background-color: #d7d7d7;
    }

    .times-row {
      max-height: 20px;
      background-color: #eee;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #bbb;
    }

    .interval-col {
      max-height: 19px;
      display: inline-block;
      overflow: visible;

    }
    .interval-col-time {
      max-height: 19px;
      display: inline-block;
      overflow: visible;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #bbb;
    }
    .col-stripped {
      background-color: #f9f9f9;
    }

    .col-stripped-on {
      background-color: #eee;
    }

    .day-stripped-off {
      background-color: none;
    }
  </style>

  <div hl-sticky="">
    <div id="day-header-0"  class="day-header text-center"  style="display:inline-block;" >
        <div id="interval-header-day" class="times-row" ng-style="{'width':outerRowWidth}" style="display:inline-block;">
          <div id="day-sub-interval-header-{{$index}}" class="interval-col text-center" ng-repeat="timeColumn in timeIntervals" ng-class="{'col-stripped-on':!($index%2),'col-stripped':($index%2)}" ng-style="{'width':colWidth}" >{{timeColumn | momentTZ:timezone:'format':'DD MMM'}}</div>
        </div>
    </div>
  </div>
  <div hl-sticky="">
    <div id="interval-header-time" class="times-row" style="display:inline-block;width:{{outerRowWidth}};">
        <!-- ng-style="{'min-width':colWidth,'max-width':colWidth}" -->
      <div id="time-sub-interval-header-{{$index}}" class="interval-col-time text-center" ng-repeat="timeColumn in timeIntervals" ng-class="{'col-stripped-on':!($index%2),'col-stripped':($index%2)}" ng-style="{'width':colWidth}" >{{timeColumn | momentTZ:timezone:'format':'HH:mm'}}</div>
    </div>
  </div>
</div>