
<div class="col-xs-2 " ng-show="isOpen" >
<div>
<h4 style="margin-top:0px;padding-top:10px;">Unscheduled Side Events <span ng-click="isOpen=!isOpen;clearFilters();" class="pull-right" style="cursor:pointer;"><i class="fa fa-times-circle"></i></span></h4>

<div class="btn-group  btn-group-raised btn-group-xs" style="margin:auto;">
  <a href="javascript:void(0)" class="btn " ng-click="showSearch=!showSearch;"><i class="fa fa-search"></i> Search</a>
  <a href="javascript:void(0)" class="btn " ng-click="filterDialog()"><i class="fa fa-filter"></i> Filter</a>
  <a href="javascript:void(0)" class="btn " ng-click="configDialog()"><i class="fa fa-cogs" aria-hidden="true"></i> Config</a>
</div>
<div>&nbsp;</div>
<div class="relative" style="width:100%;" ng-show="showSearch">
  <i class="fa fa-times" style="position:absolute;right:5px;top:-15px;" ng-click="showSearch=0;"></i>
  <div class="form-group label-floating">
    <div class="input-group">
      <label class="control-label" for="searchSe">Search Side Events</label>
      <input type="text" id="searchSe" class="form-control" ng-model="search" ng-model-options="{debounce: 200 }" ng-change="load()">
      <span class="input-group-btn small">
        <button type="button" class="btn btn-fab btn-fab-mini" ng-click="search='';clearFilters();load();">
          <i class="fa fa-search" ng-if="!search"></i> <i class="fa fa-times" ng-if="search" ></i>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="text-left" style="padding-bottom:10px;">
  <p class="help-block" style="line-height:20px;">Showing
    <span class="badge">{{sideEvents.length}}</span>
    <span ng-show="search">for
      <span class="label label-default" style="font-size:11px;font-weight:300;">"{{search}}"</span>
    </span>
  </p>
</div>
</div>
    <div class="se-scrollr" style="width:100%;height:83vh;overflow-y:auto;">
      <div class="wrapper" style="min-width:100%;min-height:100%;">
        <span ng-show="loadingRes || loading.unscheduled">Loading ... <i class="fa fa-spinner fa-pulse fa-fw"></i></span>

        <div ng-show="!loading.unscheduled" class='se-cont'  id="unscheduled-side-events" dragula='"se-bag"' dragula-model='sideEvents' style="min-width:100%;min-height:83vh;">
          <side-event  res-id="{{se._id}}" res="se" ng-repeat="se in sideEvents  track by $index" loading-res="se.loadingRes" load="load()" ng-click="resDialog(se)"></side-event>
          <!-- <se-grid-reservation ng-show="!res.hide" ng-repeat="res in sideEvents  track by $index"  row-min-height="cellHeight" rooms="rooms" res-id="{{res._id}}" doc="res"></se-grid-reservation> -->

          <div ng-if="!sideEvents.length">&nbsp;</div>
        </div>
      </div>
    </div>
</div>