<div ng-controller="home" class="relative">


  <div id="main">
    <div class="view-header text-center">
      <span class="pull-left">Dashboard</span>
      <span>
        < 22.03.2016>
      </span>
      <span>
        <div class="input-group input-group-sm search-bs pull-right" style="width:200px;">
          <input type="test" class="form-control " ng-model="search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search='';"><i class="fa fa-search" ng-if="!search"></i><i class="fa fa-times" ng-if="search"></i></button>
          </span>
        </div>
      </span>
    </div>


    <div class="row" style="padding-top:20px;">
      <div class="col-lg-offset-2 col-lg-4 col-sm-6 col-xs-12">
        <div class="panel" ng-class="{ 'panel-primary' : m.primary, 'panel-info' : !m.primary }">
          <div class="panel-heading  text-center">
            <h2 style="color:inherit">Schedule</h2>
          </div>
          <div class="panel-body text-center" style="min-height:110px">
            <!-- <div class="btn-group-vertical">
                <button class="btn btn-sm btn-default" scroll-to="schedule{{$index}}" duration="1000"> Schedule</button>
                <button class="btn btn-sm btn-info" ng-click="goTo(con._id);">Register a Side Event</button>
              </div> -->
          </div>
          <div class="panel-footer text-right">
            <!-- <div class="text-center" >{{con.start * 1000 | date:'yyyy-MM-dd' }}
                  <span style=""> to </span> {{con.end * 1000 | date:'yyyy-MM-dd'}}</div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel" ng-class="{ 'panel-primary' : m.primary, 'panel-info' : !m.primary }">
          <div class="panel-heading  text-center">
            <h2 style="color:inherit">Side Events</h2>
          </div>
          <div class="panel-body text-center" style="min-height:110px">
            <!-- <div class="btn-group-vertical">
                <button class="btn btn-sm btn-default" scroll-to="schedule{{$index}}" duration="1000"> Schedule</button>
                <button class="btn btn-sm btn-info" ng-click="goTo(con._id);">Register a Side Event</button>
              </div> -->
          </div>
          <div class="panel-footer text-right">
            <!-- <div class="text-center" >{{con.start * 1000 | date:'yyyy-MM-dd' }}
                  <span style=""> to </span> {{con.end * 1000 | date:'yyyy-MM-dd'}}</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>