/*panel heck too much margin at buttom*/

.se-panel {
  margin: 5% 5% 5% 5%;
  width: 90%;
}

/* dragula-specific example page styles */

.wrapper {
  display: inline-table;
  border-spacing:7px 0px;
}
.x-container{
  max-width:700px;overflow:auto;float:left;
}
.se-cont {
  display: table-cell;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}
.se-cont .title {
  display: table-cell;
  width: 100%;
}
.se-single-bag {
  display: table-cell;
}
/*.se-cont:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}*/
.room-cont {
  display: table-cell;
  overflow-x: hidden;
}
.day-label-y {
  margin-top: 3px;
  width:120px;

  border-bottom-color: #ccc;
  border-bottom-width: .5px;
  border-bottom-style: solid;
  border-top-color: #ccc;
  border-top-width: .5px;
  border-top-style: solid;
    background-color: rgba(0, 0, 0, 0.1);
}
.day-label-y .day {
  display: inline-block;
  height: 100%;
  width: 40%;
  text-align: center;
  border-right-color: #ccc;
  border-right-width: .5px;
  border-right-style: solid;
}
.day-label-y .day div {
  width: 98%;
  margin: 0 auto;
}
.day-label-y .tiers {
  display: inline-block;
  width: 60%;
  float: right;
}
.day-label-y .tiers div {
  /*border-bottom-color:#ccc;border-bottom-width:.5px;border-bottom-style:solid;*/
}
.day-label-y .tiers div:last-child {
  border-top-color: #ccc;
  border-top-width: .5px;
  border-top-style: solid;
}
.day-label-y .tiers-in-room {
  display: block;
  width: 100%;
}
.room-x {
  height: 100%;
  width: 200px;
  display: table-cell;
}
.room-title {
  height: 37px;
  margin-bottom: 6px;
  border-bottom-color: #ccc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: rgba(0, 0, 0, 0.1);
}
.intersect-containers {
background-color: #fff;
    margin-top: 3px;
  height:42px;
    border-top-color: #ccc;
    border-top-width: .5px;
    border-top-style: solid;
  border-bottom-color: #ccc;
  border-bottom-width: .5px;
  border-bottom-style: solid;
}
.intersect-containers .tiers div:last-child {
  border-top-color: #ccc;
  border-top-width: .5px;
  border-top-style: solid;
}
/*.intersect-containers .tiers {
    display: inline-table;
}*/
.morph {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
   transition: all 1s ease;
}

.morph-active{
  border: 10px solid #fff;
   border-radius: 50%;
  -webkit-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
  box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);

}