<div ng-controller="events" >
  <div class="view-header text-center"><span class="view-title pull-left" >Side Event Scheduling</span>
  <span > <input id="start-filter" ></input> to <input id="end-filter" ></input></span>
  <span class="pull-right">         <select><option>ICAO</option></select></span>
  </div>
  <div class="" style="width:100%; height:600px;position:relative;">

<div class="" style="width:150px;height:100%;display:inline-block;float:left;">
  <div>
  <div style="border-bottom-width:.5px;border-bottom-style:solid;height:50px;">Days/Tier</div>

  </div>
<div>
<div style="border-bottom-width:.5px;border-bottom-style:solid;">22</div>
<div style="border-bottom-width:.5px;border-bottom-style:solid;padding-left:15px;">tier1</div>
<div style="border-bottom-width:.5px;border-bottom-style:solid;padding-left:15px;">tier2</div>
</div>

</div>


<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>
<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>
<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>
<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>
<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>
<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>
<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>
<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>
<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>
<div  style="height:100%;float:left;">
<div style="width:40px;height:100%; border-width:1px;border-style:solid;">
room
</div>
</div>

<div class="wrapper" style="height:100%;float:right;width:200px;">

    <div class='se-cont' dragula='"se-bag"' dragula-model='many'>
      <div class="title"> Unscheduled Side Events
      </div>
      <div class="panel panel-default se-panel grabbible" ng-repeat='text in many2'  >
        <div class="panel-heading">
          <h3 class="panel-title">text</h3>
        </div>
        <div class="panel-body">
          text
        </div>
      </div>
    </div>

</div>


  </div>
</div>